* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  background-color: #192a33;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-bg-dark: #192a33ff;
  --color-bg-light: #1f3640;
  --color-gray: #a8bec9;
  --color-gray-dark: #7a8991;
  --color-yellow: #f2b238;
  --color-yellow-dark: #cd8d16;
  --color-blue: #30c4be;
  --color-blue-dark: #128c89;

  --shadow-y: 6px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #fff;


}

.square {
  background: #1f3640;
  border: 5px;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: 12px;
  margin-top: 11px;
  margin: 15px;
  border-radius: 20px;
  text-align: center;
  width: 150px;
  background-color: var(--color-bg-light);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
}

.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}

.game{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.game-info {
 margin-left: 20px;
}
